a{
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 60px;
    text-align: center;
    color:black;
    border-bottom: 3px solid black;
    padding: 20px;
    margin: 0px;
}
ol {
    border-right: 3px solid black;
    width: 300px;
    padding: 30px;
    padding-right: 0px;
    margin: 0px;
}
body {
    margin: 5px;
}
.Body {
    display: grid;
    grid-template-columns: 350px 1fr;
}
#now {
    background-color: darkorange;
}